{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luke Coffee</title>
    <!-- Link TO CSS -->
    <link rel="stylesheet" href="{% static 'css/cadastroo.css' %}">
    <!-- Box Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <!-- Navbar -->
    {% include "./partials/headercadlog.html" %}

    <div class="cadastro-container">
        <form class="form-control" action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}
            <h2>Cadastre-se</h2>
            <input name="nome" class="form-control" type="text" placeholder="Nome">
            <input name="sobrenome" type="text" placeholder="Sobrenome">
            <input name="usuario" type="text" placeholder="Usuário">
            <input name="senha" type="password" placeholder="Senha">
            <button type="submit">Cadastrar</button>
            <p class="link-text">Já possui cadastro? Então faça <a href="{% url 'login' %}">login</a>.</p>
        </form>
    </div>

    <!--Footer-->
    {% include "./partials/footer.html" %}
    <!-- Link To JS -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>