<section class="footer">
    <div class="footer-box">
        <h2>Luke Coffee</h2>
        <p>Acesse nossas redes sociais e fique por dentro de nossas novidades.</p>
        <div class="social">
            <a href="https://www.facebook.com/"><i class='bx bxl-facebook'></i></a>
            <a href="https://twitter.com/"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.tiktok.com/"><i class='bx bxl-tiktok'></i></a>
        </div>
    </div>
    <div class="footer-box">
        <h3>Contact</h3>
        <div class="contact">
            <span><i class='bx bxs-map'></i>Picos - Pi, Brasil</span>
            <span><i class='bx bxs-phone'></i>+555 (89)99441-8444</span>
            <span><i class='bx bxs-envelope'></i>lukecoffee@hotmail.com</span>
        </div>
    </div>
</section>
<!-- Copyright -->
<div class="copyright">
    <p>&#169; Lukes Coffee All Right Reserved</p>
</div>